body{
  background-color: aqua;
  overflow: hidden;
}

.shooter{
  cursor: none;
  position: absolute;
  height: 150px;
  width: 150px;
  background-color: orange;
  border-radius: 75px;
}

.tacoBlock{
  background-image: url("taco.png");
  background-position: left;
  height:60px;
  width: 100px;
  z-index: 2;
}
